*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  overflow: hidden;
}

.photo-in-film-free {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin-right: 3px;
}

.photo-in-film-used {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: black;
  margin-right: 3px;
}

.film-state {
  padding: 10px;
  display: inline-block;
  flex: 1;
}

.snap-button {
  height: 6rem;
  width: 6rem;
  align-self: center;
  margin: 3rem;
  border-radius: 100%;
  outline: none;
  border: 1px solid black;
  background: white;
}

.snap-button:active {
  background: red;
}

#container {
  background: whitesmoke;
  height: calc(var(--vh, 1vh) * 100);
  overflow-y: hidden;
}

.p-button {
  padding: 0.8rem;
  margin: 0.3rem;
}

.pickup-button {
  padding: 0.5rem;
}

.gallery-photo {
  --spacing-widht: 1rem;
  width: calc((100% - 2 * var(--spacing-widht)) / 3);
  float: left;
}

.gallery-photo:not(:nth-child(3n)) {
  margin-right: var(--spacing-widht);
  margin-bottom: var(--spacing-widht);
}

.camera,
.shop,
.gallery {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
}

.shop {
  padding: 1rem;
  overflow-y: auto;
}

.gallery {
  background: gray;
  overflow-y: auto;
  padding: 1rem;
}

.camera-and-shop {
  width: 200vw;
  display: flex;
  transition: margin 0.5s ease-in-out;
  overflow-y: auto;
}

.camera__top-panel {
  height: calc(var(--vh, 1vh) * 30);
  background: silver;
  display: flex;
}

.camera__bottom-panel {
  height: calc(var(--vh, 1vh) * 70);
  background: gray;
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
  color: whitesmoke;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.camera__info-area {
  flex: 1;
}
